# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

source/isodir/
nbproject/
barebones-toolchain/
cos.sublime-project
cos.sublime-workspace
DEADJOE
bochsrc.bxrc
bochsdebug.txt
bochsout.txt
